.navbar {
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  &-brand {
    h3 {
      font-weight: 100;

      @media (max-width: 768px) {
        & {
          margin-bottom: 0;
        }
      }
    }
  }

  .nav-item {
    font-size: 1.4rem;
  }

  .nav-link {
    &:hover {
      transition: all 0.2s;
      border-bottom: 1px solid #fff;

      @media (max-width: 768px) {
        & {
          border-bottom: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      background-color: #1f1f1f;
    }
  }
}
